<div class="taskRows" ng-repeat="task in todo.tasks" ng-class-odd="'oddRows'" ng-class-even="'evenRows'">

    <div class="taskDescription">
        <span class="taskDescriptionView lh30 mg10" ng-show="!task.isEditing">{{task.description}}</span>
        <input class="taskDescriptionEdit" type="text" maxlength="150" ng-model="task.description" ng-show="task.isEditing">
    </div>

    <div ng-click=deleteTask(todo,task,$index) class="delete-btn">
        <i class="fa fa-times"></i>
    </div>
    <div class="taskTools">
        <i class="fa fa-pencil-square fa-2x lh30 mg10 cursorPtr" ng-show="!task.isEditing" ng-click="editTask(todo,$index);"></i>
        <i class="fa fa-floppy-o fa-2x lh30 mg10 cursorPtr" ng-show="task.isEditing" ng-click="saveTask(todo,task,$index)"></i>
    </div>


    <div class="taskStatus lh30 mg10">
        <span class="levelSelect" ng-show="!task.isEditing"> {{task.status}} </span>
        <select class="newTaskSelect" ng-show="task.isEditing" ng-options="categorie for categorie in categories" ng-model="task.status" required></select>
    </div>

</div>

