<div class="w100 footer-top" ng-show="addDomainState">
    <div class="newDomain" >
        <div class="textNewDomain">
            <input ng-model="newDomainName" class="domainName" type="text" maxlength="30"  value="Domain Name">
        </div>
        <div class="iconNewDomain">
            <i class="fa fa-floppy-o fa-1x cursorPtr" ng-click="addDomain(newDomainName)"></i>
        </div>
    </div>
</div>

<div class="w100 footer-bottom"ng-show="!addDomainState" >
    <div class="bottomBtn cursorPtr" ng-click="newDomain()">
        <span>Add a categorie</span>
    </div>
</div>








