body {
    font-family: Molengo,Helvetica,Arial,sans-serif;
    font-weight: 300;
}
.w100 {
    width: 100%;
}
.panel {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    min-width: 660px;
}
.transparent {
    background-color: transparent;
}
.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.addTask {
    border-radius: 10px;
    margin-top: 5px;
    background-color: rgb(34, 34, 34);
    float: right;
    text-align: center;
    padding: 5px;
    padding-top: 5px;
}
.addTask:hover {
    background-color: grey;
}
.addTask > * {
    display: inline-block;
    vertical-align: middle;
    color:white;
}
@media (max-width: 850px) {
    .panel {
        width: 100%;
    }
}
.header {
    border-radius: 10px 10px 0 0;
    padding-right: 10px;
}
.header > i {
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 10px;
    float: left;
}

.header > .title {
    display: inline-block;
}
.panel > .header {
   border-radius: 10px 10px 0 0;
   text-align: center;
}
.panel > .content {
    border: solid grey 1px;
    border-top: none;
    /*border-radius: 0 0 20px 20px; */
    width: 100%;
    overflow: hidden;
}
ul {
    list-style-type: none;
}
.mainColor {
    color: white;
    background-color: #282828;
}
.gruntColor {
    color: white;
    background-color: chocolate;
}
.bowerColor {
    color: crimson ;
    background-color: darkgoldenrod;
}
.angularColor {
    color: lightgrey;
    background-color: crimson;
}
.cursorPtr {
    cursor: pointer;
}
.nodeColor {
    color: #80bd01;
    background-color: #303030;
}

.oddRows {
    background-color: white;
}
.evenRows {
    background-color: #eeeeee;
}


.tasks {
    border: solid 1px grey;
}
.taskRows {
    padding: 5px;
    height: 30px;
}
.taskRows > * {
    display: inline-block;
}

.taskDescription {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 75%;
}
.taskTools {
    min-width: 45px;
    float:right;
}
.taskStatus {
    text-align: center;
    min-width: 70px;
    float: right;
}
.mg10 {
    margin-left: 10px;
    margin-right: 10px;
}
.lh30 {
    line-height: 30px;
}
.taskDescriptionEdit {
    height: 30px;
    line-height: 30px;
    background-color: rgb(40, 40, 40);
    border-radius: 5px;
    width: 95%;
    border: 1px grey solid;
    color: grey;
    padding-left: 10px;
    font-family: Molengo,Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-size: 1em;
}
.taskDescriptionEdit:focus {
    outline: none !important;
    border: 1px white solid;
    color: white;

}
.newTaskEdit:focus {
    outline: none !important;
    border:none;
}
.newTaskEdit {
    height: 48px;
    line-height: 48px;
    border: none;
    width: 100%;
    padding-left: 10px;
    font-family: Molengo,Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-size: 1em;
}

.delete-btn {
    float: right;
    margin-right: 2px;
    cursor: pointer;
}
.delete-btn > i {
    color: lightgrey;
}
.delete-btn > i:hover {
    color: black;
}
.taskTools {
    float: right;
    margin-right: 2px;
    cursor: pointer;
}
.taskTools > i {
    color: lightgrey;
}
.taskTools > i:hover {
    color: black;
}

/*---------------------------*/
/*----------  FORMS ---------*/
/*---------------------------*/

.taskEdit {
    height: 100%;
    font-family: Molengo, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.17em;
    margin: 0px;
}
.taskEditRow {
    padding: 5px;
    height: 30px;
}
.taskEditRow > * {
    display: inline-block;
}

.deleteDomain-btn {
    color: #444444;
    margin-top: 5px ;
    float: right;
}
.deleteDomain-btn:hover {
    color: white;
}
/******   newTask *****/
.newTask {
    border-radius: 0 0 10px 10px;
    border-top: rgb(53, 53, 53) 1px solid;
    padding: 5px;
    height: 40px;
    height: 40px;
}
.newTaskSelect {
    display: inline-block;
    background-color: rgb(40, 40, 40);
    border-radius: 10px;
    height: 35px;
    line-height: 35px;
    float: right;
    min-width: 100px;
    color: grey;
}
.newTaskSubmit {
    background-color: rgb(40, 40, 40);
    margin-left: 15px;
    border-radius: 10px;
    margin-right: -5px;
    display: inline-block;
    float: right;
    height: 35px;
    width: 40px;
    border: solid grey 1px;
    cursor: pointer;
    color: grey;
}
.newTaskSubmit:hover {
    color: white;
    border-color: white;
}
/***** TOOLBAR  *****/

.toolbar {
    position: fixed;
    width: 50%;
    height: 35px;
    bottom:0px;
    background-color:darkgray;
    border: 1px grey solid;
    opacity: 0.5;
    border-radius: 10px 10px 0 0;
    margin-left: -25%;
    left: 50%;
    text-align: center;
    padding: 10px;
}
.toolbar:hover {
    opacity: 1;
}
.toolbar > div > i {
    color: white;
}
.toolbar > div > i:hover {
    color: #282828;
}

.expand-btn {
    display: inline-block;
    float: left;
    margin: 20px;
    height: 32px;
    width: 32px;
}
.bottomBtn {
    display: inline-block;
    width: 150px;
    line-height: 35px;
    color: white;
    border: grey 1px solid;
    background-color: #282828;
    border-radius: 10px;
    text-align: center;
}
@media (max-width: 850px) {
    .toolbar {
        width: 100%;
        bottom:0px;
        top:auto;
        border-radius: 0 0 0 0;
        margin-left: 0px;
        left: 0px;
    }
}
.newDomain {

    line-height: 40px;
}

.newDomain > * {
    display: inline-block;
}

